@charset "UTF-8";





/**
* @uncascadable
*
* Makes the text justified.
*/
*[data-textstyle~="justified"] {
	-moz-text-align-last:start;
	-ms-text-align-last:start;
	text-align-last:start;
	text-align:justify;
}



/**
* @uncascadable
*
* Makes the text centered.
*/
*[data-textstyle~="centered"] {
	-moz-text-align-last:center;
	-ms-text-align-last:center;
	text-align-last:center;
	text-align:center;
}



/**
* @uncascadable
*
* Makes the text indented. (On the first line only by default.)
*/
*[data-textstyle~="indented"] {
	--S-tabsize:1em;
	
	text-indent:1em;
	text-indent:var(--S-tabsize);
}



/**
* Makes text-decoration dashed.
*/
*[data-textstyle~="dashed"], *[data-cascade~="textstyle"][data-textstyle~="dashed"] * {
	-moz-text-decoration-style:dashed;
	text-decoration-style:dashed;
}



/**
* Makes text-decoration dotted.
*/
*[data-textstyle~="dotted"], *[data-cascade~="textstyle"][data-textstyle~="dotted"] * {
	-moz-text-decoration-style:dotted;
	text-decoration-style:dotted;
}



/**
* Makes text-decoration doubled.
*/
*[data-textstyle~="double"], *[data-cascade~="textstyle"][data-textstyle~="double"] * {
	-moz-text-decoration-style:double;
	text-decoration-style:double;
}



/**
* @uncascadale
* 
* Default display for code. */
*[data-textstyle~="code"] {
	font-display:swap;
	font-variant:normal;
	font-family:monospace;
	font-weight:500;
	font-size:1.1em;
	text-wrap:nowrap;
}



/**
* Makes text-decoration wavy.
*/
*[data-textstyle~="wavy"], *[data-cascade~="textstyle"][data-textstyle~="wavy"] * {
	-moz-text-decoration-style:wavy;
	text-decoration-style:wavy;
}



/**
* @uncascadable
*
* Makes text as bold as it can be.
*/
*[data-textstyle~="b+"] {
	font-synthesis-weight:auto;
	font-weight:900;
}



/**
* @uncascadable
*
* Makes text bold(er).
*/
*[data-textstyle~="b"] {
	font-weight:700;
	font-weight:bolder;
}



/**
* @uncascadable
*
* Makes text italic.
*/
*[data-textstyle~="i"] { font-style:italic; }



/**
* Gives text an overline.
*/
*[data-textstyle~="o"], *[data-cascade~="textstyle"][data-textstyle~="o"] * {
	-moz-text-decoration-line:overline;
	text-decoration-line:overline;
}



/**
* Gives text a strikethrough.
*/
*[data-textstyle~="s"], *[data-cascade~="textstyle"][data-textstyle~="s"] * {
	-moz-text-decoration-line:line-through;
	text-decoration-line:line-through;
}



/**
* Gives text an underline.
*/
*[data-textstyle~="u"], *[data-cascade~="textstyle"][data-textstyle~="u"] * {
	-moz-text-decoration-line:underline;
	text-decoration-line:underline;
}





/**
* @uncascadable
*
* Makes the text justified while centering the last line.
*/
*[data-textstyle~="justified"][data-textstyle~="centered"] {
	-moz-text-align-last:center;
	-ms-text-align-last:center;
	text-align-last:center;
	text-align:justify;
}



/**
* @uncascadable
*
* Makes subsequent lines of a paragraph hang.
*/
*[data-textstyle~="hanging"][data-textstyle~="indented"] {
	text-indent:1em hanging;
	text-indent:var(--S-tabsize) hanging;
}



/**
* Gives text an overline and a strikethrough.
*/
*[data-textstyle~="o"][data-textstyle~="s"],
*[data-cascade~="textstyle"][data-textstyle~="o"][data-textstyle~="s"] * {
	-moz-text-decoration-line:overline line-through;
	text-decoration-line:overline line-through;
}



/**
* Gives text an overline and an underline.
*/
*[data-textstyle~="o"][data-textstyle~="u"],
*[data-cascade~="textstyle"][data-textstyle~="o"][data-textstyle~="u"] * {
	-moz-text-decoration-line:overline underline;
	text-decoration-line:overline underline;
}



/**
* Gives text a strikethrough and an underline.
*/
*[data-textstyle~="s"][data-textstyle~="u"],
*[data-cascade~="textstyle"][data-textstyle~="s"][data-textstyle~="u"] * {
	-moz-text-decoration-line:line-through underline;
	text-decoration-line:line-through underline;
}





/**
* Gives text an overline, strikethrough, and underline.
*/
*[data-textstyle~="o"][data-textstyle~="s"][data-textstyle~="u"],
*[data-cascade~="textstyle"][data-textstyle~="o"][data-textstyle~="s"][data-textstyle~="u"] {
	-moz-text-decoration-line:overline line-through underline;
	text-decoration-line:overline line-through underline;
}





/* Default look for horizontal-rules. */
hr {
	border:none;
	height:0.5px;
	width:100%;
	
	background-color:black;
	background-color:currentColor;
	color:black;
	color:currentColor;
}