/*
* Spacing between tables and other things.
*/
table + * { margin-top:1.5rem; }


/*
* Spacing between paragraphs and other things.
*/
p + * { margin-top:1.25em; }


/*
* Makes table-cells in the element with the ID `mario` pixel-like and
*  borderless.
*/
#mario td {
	border:none;
	height:15px;
	width:15px;
}

#mario:hover tr:not([data-cutout]) td { border:1px solid black; }