/* Spacing between tables and other things. */
table + * { margin-top:1.5rem; }


/* Background color. */
body {
	background-color:rgb(170, 170, 255);
	font-family:"Arial", sans-serif;
}


/* Default margins for headers. */
h1 { margin-bottom:1.5em; }
h2, h3, h4 { margin-bottom:0.8em; }
h5, h6 { margin-bottom:0.4em; }


/* Spacing between paragraphs and other things. */
p + * { margin-top:1.25em; }


/* Spacing between sections. */
section + section { margin-top:1em; }