@charset "UTF-8";





/**
* Makes flex-items centered along the cross-axis.
*/
*[data-centered="cross"], *[data-cascade~="centered"][data-centered="cross"] * { align-self:center; }



/**
* Makes flex-items centered along both axes.
*/
*[data-centered="both"], *[data-cascade~="centered"][data-centered="both"] * {
	justify-self:center;
	align-self:center;
}



/**
* Makes flex-items centered along the main-axis.
*/
*[data-centered="main"], *[data-cascade~="centered"][data-centered="main"] * { justify-self:center; }





/**
* @deprecated
*
* Makes flex-items centered along their main-axis.  
* (Added for backwards compatibility with the previous version.)
*/
*[data-centered]:not([data-centered="cross"]):not([data-centered="both"]):not([data-centered="main"]),
*[data-cascade~="centered"][data-centered]:not([data-centered="cross"]):not([data-centered="both"]):not([data-centered="main"]) {
	justify-self:center;
}