/**
* Gives elements the padding a letter should have.
*/
*[data-padding="letter"], *[data-cascade~="padding"][data-padding="letter"] { padding:1in; }



/**
* @uncascadable
*
* Applies horizontal `auto`-margins to all children elements.
*/
*[data-hamoc] > * {
	margin-right:auto;
	margin-left:auto;
}



/**
* @uncascadable
*
* Applies vertical `auto`-margins to all children elements.
*/
*[data-vamoc] > * {
	margin-bottom:auto;
	margin-top:auto;
}



/**
* Applies horizontal `auto`-margins to an element.
*/
*[data-ham], *[data-cascade~="ham"][data-ham] * {
	margin-right:auto;
	margin-left:auto;
}



/**
* Applies vertical `auto`-margins to an element.
*/
*[data-vam], *[data-cascade~="vam"][data-vam] * {
	margin-bottom:auto;
	margin-top:auto;
}