@charset "UTF-8";





/* Default style for all elements. */
* {
	/*
	* `max-height` and `max-width` to fix quirks of some
	*  user-agent styles.
	*
	* Incited by: https://www.youtube.com/watch?v=yZT9906ZCLU.
	*/
	max-height:100%;
	max-width:100%;
	height:fit-content;
	width:fit-content;
	
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}





body, html {
	overflow-y:visible;
	overflow-x:hidden;
	padding:0;
	margin:0;
	
	height:100%;
	width:100%;
}



/* Default look for horizontal-rules. */
hr {
	border:none;
	height:0.5px;
	width:100%;
	
	background-color:black;
	background-color:currentColor;
	color:black;
	color:currentColor;
}





/**
* @uncascadable
*
* Makes an element, and all its descendants, undraggable.
*/
*[draggable="false"], *[draggable="false"] * {
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
	-webkit-user-drag:none;
}



/**
* @uncascadable
*
* Makes an element, and all its descendants, draggable.
*/
*[draggable="true"], *[draggable="true"] * {
	-webkit-user-select:auto;
	-moz-user-select:auto;
	-ms-user-select:auto;
	user-select:auto;
	-webkit-user-drag:auto;
}



/**
* Makes an element an inline element.
*/
*[data-flow~="inline"], *[data-cascade~="flow"][data-flow~="inline"] * { display:inline; }



/**
* Makes an element a block element.
*/
*[data-flow~="block"], *[data-cascade~="flow"][data-flow~="block"] * { display:block; }





/**
* Makes an element an inline-block element.
*/
*[data-flow~="inline"][data-flow~="block"],
*[data-cascade~="flow"][data-flow~="inline"][data-flow~="block"] * { display:inline-block; }