@charset "UTF-8";





/* Default style for all elements. */
* {
	height:fit-content;
	width:fit-content;
	
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
}





body, html {
	overflow-y:visible;
	overflow-x:hidden;
	padding:0;
	margin:0;
	
	height:100%;
	width:100%;
}





/**
* @uncascadable
*
* Makes an element, and all its descendants, undraggable.
*/
*[draggable="false"], *[draggable="false"] * {
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
	user-select:none;
	-webkit-user-drag:none;
}



/**
* @uncascadable
*
* Makes an element, and all its descendants, draggable.
*/
*[draggable="true"], *[draggable="true"] * {
	-webkit-user-select:auto;
	-moz-user-select:auto;
	-ms-user-select:auto;
	user-select:auto;
	-webkit-user-drag:auto;
}